@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden scroll-smooth;
    @apply min-h-screen;
    @apply bg-slate-100 dark:bg-slate-700;
    @apply dark:text-slate-100;
    @apply font-Josefin;
  }
  #root {
    @apply min-h-screen;
    @apply flex flex-col justify-between;
  }
  a {
    @apply default-tr;
  }
  h1 {
    @apply text-6xl font-semibold;
  }
  h2 {
    @apply text-4xl font-semibold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  pre {
    @apply text-sm my-3 p-2 bg-slate-200 overflow-x-auto;
  }
  code {
    @apply text-sm bg-slate-200 p-[2px] break-words;
  }
  header {
    @apply fixed z-10 w-full bg-cDark h-20 py-2 default-tr;
  }
  footer {
    @apply bg-cDark text-slate-100 py-8;
  }
  .hero {
    @apply relative;
    @apply h-screen;
  }
  .particles {
    @apply absolute w-full h-full;
  }
}

@layer components {
  .mini-container {
    @apply container;
    @apply max-w-5xl px-2;
  }
  .button {
    @apply flex items-center disabled:bg-gray-500 h-10 py-2 px-4 rounded-md default-tr;
  }
  .button-common {
    @apply button;
    @apply text-white;
    @apply bg-cyan-700 disabled:bg-gray-500 hover:bg-cyan-800 active:bg-cyan-900;
  }
  .button-red {
    @apply button;
    @apply bg-red-600 disabled:bg-gray-500	hover:bg-red-700 active:bg-red-800 text-white;
  }
  .button-gray {
    @apply button;
    @apply bg-gray-200 disabled:bg-gray-500 hover:bg-gray-300 active:bg-gray-400;
  }
  .button-green {
    @apply button;
    @apply bg-emerald-500 disabled:bg-gray-500 hover:bg-emerald-600 active:bg-emerald-700 text-white;
  }
  .custom-tab-list {
    @apply flex gap-6 mb-4;
  }
  .card {
    @apply bg-white;
    @apply border-2;
    @apply border-gray-200;
    @apply rounded-md;
    @apply p-2;
  }
  .clipboardcode-fixed-pre {
    width: calc(100% - 32px);
  }
  .clipboardcode-btn {
    @apply transition-colors;
    @apply absolute;
    @apply bg-cyan-600;
    @apply hover:bg-cyan-800;
    @apply active:bg-cyan-400;
    @apply flex;
    @apply items-center;
    @apply p-2;
    @apply duration-200;
    @apply h-8;
  }
  .clipboardcode-default-btn {
    @apply opacity-0;
    @apply group-hover:opacity-100;
    @apply transition-opacity;
    @apply rounded;
    @apply inset-y-0;
    @apply top-2;
    @apply right-2;
  }
  .clipboardcode-fixed-btn {
    @apply top-0;
    @apply right-0;
    @apply h-full;
    @apply rounded-r;
  }
  .carousel-chevron {
    @apply absolute my-auto inset-y-0 text-slate-400 hover:text-slate-800 default-tr cursor-pointer;
  }
}

@layer utilities {
  .default-tr {
    @apply transition-colors;
    @apply duration-300;
  }
  .blur-bg-white {
    @apply bg-white/95;
  }
}
